body {
  background-color: black;
  color: white;
  font-family: "Trebuchet Ms", sans-serif;
  user-select: none;
}

h2 {
  display: inline;
  vertical-align: middle;
  font-size: 2em;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

a {
  cursor: pointer;
  transition: all 0.15s linear;
  opacity: 0.8;
}

a:hover {
  opacity: 1;
}

a img {
  width: 45px;
  height: 45px;
}

.ml-10 {
  margin-left: 10px;
}
